@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap");

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  font-family: "Lato", sans-serif;
}
nav {
  background-color: #9376e0;
}

.nav-container {
  min-height: 50px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  width: 50%;
}

.logo-container img {
  width: 50px;
  object-fit: cover;
  margin-right: 15px;
}
.logo-container p {
  font-size: 30px;
  color: aliceblue;
}
.hive-section {
  color: #e893cf;
}

.nav-items-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-container a {
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
}

.nav-items-container .login-btn {
  background-color: #e893cf;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  color: black;
  text-align: center;
}

/* nev design here */

.banner-container {
  margin: 50px auto 0;
  max-width: 1300px;
  display: flex;
  background-color: #e6e9eb;
  padding: 10px;
  border-radius: 10px;
}

.banner-text {
  width: 50%;
  text-align: center;
}
.banner-img {
  width: 50%;
}

.banner-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* height: 100%; */
}

.banner-text h1 {
  background-image: linear-gradient(to bottom, #9376e0, #e893cf);
  color: transparent;
  font-size: 50px;
  -webkit-background-clip: text;
}

.banner-text p {
  font-size: 45px;
  font-family: "Dancing Script", cursive;
}

.icon-contaner {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto 40px;
}
.fa-brands {
  font-size: 45px;
}

.btn {
  margin-right: 15px;
}
.banner-btn {
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #9376e0;
  border-radius: 5px;
}

/* banner section design ends here  */

.grid-container {
  display: grid;
  max-width: 1300px;
  margin: 50px auto 0;
  min-height: 400px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.single-product {
  background-color: rgba(112, 128, 144, 0.536);
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: 2px 2px 4px black;
}

.single-product img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.product-icon-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-icon {
  font-size: 20px;
  gap: 10px;
}

.product-icon-name-container span {
  padding: 10px;
  background-color: #9376e0;
  border-radius: 50%;
  color: aliceblue;
}

/* discount section start  */

.discount-section {
  margin-top: 50px;
  background-color: #9376e0;
  min-height: 500px;
  padding: 20px 0;
}

.discount-container {
  max-width: 1300px;
  margin: 0 auto;

  min-height: 200px;
  display: flex;
  align-items: center;
}

.discount-img {
  width: 50%;

  position: relative;
}
.discount-img img {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.discount-text {
  width: 50%;
}

.discount-number {
  background-color: rgba(255, 255, 0, 0.64);
  height: 70px;
  width: 70px;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 70%;
}

.buy-btn {
  padding: 10px 30px;
  border: 3px solid rgb(247, 246, 246);
  background-color: #9376e0;
  font-size: 15px;
}

/* .discount-section-design-ends-here  */

.review-container {
  min-height: 200px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.single-revieew {
  flex-basis: 300px;
  background-color: #e893cf;
  padding: 10px;
  border-radius: 10px;
}

.single-revieew img {
  height: 60px;
  width: 60px;
}

.top-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer section start  */

.min-footer {
  height: 250px;
  text-align: center;
  background-color: #9376e0;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
.logo img {
  height: 60px;
  width: 60px;
}
